form.fv br {
	display: block;
	margin-top:1.4ch;
}

form.fv input, 
form.fv select, 
form.fv button,
form.fv textarea {
	padding: 0.2ch 0.5ch 0.2ch 0.5ch;
}

@supports not (-moz-appearance:none) {
	/* css for non-firefox */
	form.fv input {
		font-size: 1em;
	}

	form.fv input[type=checkbox], 
	form.fv input[type=radio] {
		transform: scale(1.4);
	}

	form.fv input[type=radio] {
		margin-right: 0.7ch;
	}

	form.fv input[type=submit], form.fv button {
		font-size: 1.2em;
		padding: 0.3ch 1.2ch 0.3ch 1.2ch;
	}

	form.fv select {
		font-size: 1.1em;
	}

	form.fv br {
		line-height: 2em;
	}
}

form.fv div.multi_checkbox_wrapper {
	display: inline-block;
	width: 51ch;
}

form.fv div.multi_checkbox {
	display: inline-block;
	min-width: 20ch;
}

form.fv div.multi_checkbox span:nth-child(1) input[type=checkbox] {
	margin-right: 1ch;
}

@supports (-moz-appearance:none) {
	form.fv div.multi_checkbox span:nth-child(1) input[type=checkbox] {
		position: relative;
		bottom: -2px;
	}
}

form.fv span.label {
	display: inline-block;
	vertical-align: top;
	min-width: 12ch;
}

form.fv div.example_error_wrapper {
	margin: 0.75ch 0 0 10ch;
}

@supports (-moz-appearance:none) {
	form.fv span.label {
		position: relative;
		top: 2px;
	}
}

form.fv div.label2 {
	display: inline-block;
	margin-left: 16ch; 
}

form.fv span.error_message {
	display: inline-block;
	color: #990000;
	margin-left: 2ch;
}

form.fv div.label_required {
	display: inline-block;
	font-weight: bold;
}

form.fv span.error {
	color: #990000;
}

form.fv input.error {
	background-color: #ff8080;
	border: 1px solid red;
}

form.fv span.cbox_query {
	margin-left: 1ch;
}

@supports (-moz-appearance:none) {
	form.fv span.cbox_query {
		position: relative;
		bottom: 0.25ch;
	}
}

form.fv div.check_wrapper {
  display:inline-block;
}

form.fv div.check_wrapper label {
  margin:0 4ch 0 1ch;
}

