/docs
/lib5
/other/source
/composer.lock
/composer.phar
/vendor
/.buildpath
/.project
/.settings
/example/api/.htaccess
/example/api/routing.php
/example/upload/data
/example/picture/data
/nbproject/private/
